<% if(success && success.length) { %> 
    <h1 class="flash alert alert-success color-green" role="alert"><%= success %></h1>
<% } %> 

<% if(error && error.length) { %> 
    <h1 class="flash alert alert-danger color-red" role="alert"><%= error %></h1>
<% } %> 