        <hr>
        <div class="footer">
            <span>© IST 2020</span>
        </div>
        
        <ul class="slideshow">
            <li></li>
            <li></li> 
            <li></li>
            <li></li>
            <li></li>
          </ul>
    </body>
</html>
