<div id="navbar">    
    <div style="float: right">
        <a href='/users/verify-edit'>Edit Subscription</a>       
    </div>
    <div>
        <a href="/"><h1>PTST</h1><i>Get Toronto's daily screenings here at PTST</i></a>
    </div>  
</div>
<hr>    