<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline;
        padding: 15px;
    }
</style>

<ul id="navbar">    
    <div style="float: right">
        <li><a href='/users/pause'>Snooze or Unsubscribe</a></li>        
    </div>
    <div class="pricing-header px-3 py-3 pt-md-1 pb-md-4 mx-auto text-center">
        <li><a href="/"><h1 class="display-4">PTST</h1></a></li>
        <p class="lead"><i>Get Toronto's daily screenings here at PTST</i></p>
        <hr>
    </div>      
</ul>