<div id="navbar">    
    <div style="float: right">
        <a class="navbar-brand" href='/users/verify-edit'>Edit Subscription</a>       
    </div>
    <div>
        <a class="navbar-brand" href="/"><h1>IST</h1>Get your daily screenings here at <i>INDIE SCREENINGS TORONTO</i></a>
    </div>  
</div>
<hr>    