<div id="navbar">    
    <div style="float: right">
        <a href='/users/verify-edit'>Edit Subscription</a>       
    </div>
    <div>
        <a href="/"><h1>IST</h1>Get your daily screenings here at <i>INDI SCREENINGS TORONTO</i></a>
    </div>  
</div>
<hr>    