<style>
    ul {
        list-style-type: none;
    }
</style>

<ul id="navbar">    
    <div style="float: right">
        <li><a href='/users/verify-edit'>Edit Subscription</a></li>        
    </div>
    <div>
        <a href="/"><h1>PTST</h1><i>Get Toronto's daily screenings here at PTST</i></a>
    </div>  
</ul>
<hr>    