<% layout('./layouts/boilerplate') -%>

<h1>Unsubscribe :(</h1>
<form method='POST' action='/users/unsubscribe?_method=PUT'>
    <div>
        <label for="email"></label>
        <input type="email" id="email" name="email" placeholder="email" required>
    </div>                    
    <input type="submit">
</form>
