body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

.flash {
  font: 14px "Lucia Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}